@import url("fonts.css");
@import url("fontello.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

body {
    min-width: 320px;
    font-size: 12px;
}

main {
    background-color: #eceff4;
    min-height: 100vh;
    padding: 10px;
    display: grid;
}

.wrapper {
    margin: auto;
}

.info_block {
    background-color: #fff;
    width: 320px;
    border-radius: 4px;
    filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.05));
}

#add_contact {
    margin-bottom: 20px;
}

#error_submit {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    gap: 20px;
}

#error_text {
    color: red;
    opacity: 0;
    transition: 2s;
}

#error_text.active {
    opacity: 1;
}

h2,
h3,
i {
    color: #333333;
}

h2,
h3,
input,
i {
    font-size: 14px;
    font-weight: 400;
}

h2,
form {
    padding: 25px;
}

form,
ul li {
    border-top: 1px solid #eeeeee;
}

input {
    height: 40px;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #eeeeee;
}

input[type="submit"] {
    color: #fff;
    background-color: #4d59a1;
    width: 97px;
    border: none;
}

ul li {
    list-style-type: none;
    padding: 20px 25px;
}

#name_delete {
    display: flex;
    align-items: center;
    gap: 3px;
}

h3 {
    display: inline-block;
}

.icon-cancel {
    cursor: pointer;
}

#contact_list p {
    color: #666666;
}
